@import url("https://nyri4.github.io/donators/donators.css");

:root .buttons-3JBrkn {
  transition: opacity 150ms;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0 !important; /* Ensure icons remain square */
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e > svg {
  contain: unset;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e foreignObject {
  width: 100% !important;
  height: 100% !important;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e .pointerEvents-2zdf6A {
  x: 31px;
  y: 31px;
  ry: var(--status-radius);
  width: 12px;
  height: 12px;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e:hover {
  opacity: 1;
}
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e + .nameTag-3_6kBQ {
  display: none;
}
:root .content-1YXu4Y > :nth-child(2):not(.chatContent-3KubbW),
:root .callContainer-2uMFsB,
:root .gatedContent-2gK96U,
:root .chatContent-3KubbW > .content-yTz4x3 > .pageContainer-1PoeTE,
:root .forumOrHome-6N1uP9 + .content-yTz4x3 > .container-3mdDkM,
:root .container-1VVsyy,
:root .background-2S4vFZ,
:root .page-3kDaO8 {
  z-index: 2;
}
:root .chatContent-3KubbW .form-2fGMdU {
  padding-left: 66px;
}
:root .chatContent-3KubbW .form-2fGMdU .wrapper-3tPqqe {
  z-index: unset;
}
:root .chatContent-3KubbW .form-2fGMdU .channelTextArea-rNsIhG .scrollableContainer-15eg7h::after,
:root .chatContent-3KubbW .form-2fGMdU .wrapper-3tPqqe::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-color: var(--background-secondary);
  border-radius: calc(var(--avatar-radius) + 2px);
}
:root .typing-3wjtWA {
  left: 66px;
  right: 26px;
}
:root .lookFilled-yCfaCM.colorPrimary-2AuQVo,
:root .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
  background-color: var(--brand-experiment);
}
:root .container-2OmDho {
  margin-left: 14px;
  margin-bottom: 16px;
  border-radius: 8px;
}
:root .spamBanner-2qW2mJ {
  position: relative;
  flex-direction: column;
  left: 56px;
  bottom: 8px;
  width: 330px;
  height: fit-content;
  row-gap: 30px;
}
:root .spamBanner-2qW2mJ .bannerTextContainer-3HCpXP {
  min-width: 0;
}
:root .spamBanner-2qW2mJ .actionButtons-1UJ2C7 {
  justify-content: space-around;
}
:root .messagesErrorBar-3iqL9J {
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
}
:root .messagesErrorBar-3iqL9J:active {
  margin-bottom: 14px;
}
:root .newMessagesBar-1d0l8I {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}
:root .message-2qnXI6.mentioned-1t1uPl {
  background-color: var(--mention-color-background);
}
:root .message-2qnXI6.mentioned-1t1uPl::before {
  background: var(--mention-color-bar);
  padding: 1px;
}
:root .message-2qnXI6.mentioned-1t1uPl:hover {
  background-color: var(--mention-color-hover) !important;
}
:root .wrapper-3PENk9:not([style]) {
  position: relative;
  color: var(--brand-experiment);
  background: transparent;
}
:root .wrapper-3PENk9:not([style])::after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brand-experiment);
  border-radius: inherit;
}
:root .jumpToPresentBar-1t7sMx,
:root .jumpToPresentBar-1t7sMx:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}
:root .autocompleteRow-25ZkVs {
  padding: 0;
}
:root .autocompleteRow-25ZkVs .base-2jDaOf {
  border-radius: 0;
}
:root .autocompleteRow-25ZkVs:first-of-type,
:root .autocompleteRow-25ZkVs .option-3XHWIj {
  background-color: var(--background-tertiary);
}
:root .autocomplete-2CV1MA {
  background: var(--background-secondary-alt);
}
:root .categoryHeader-8NS2hp,
:root .autocomplete-2CV1MA {
  background: var(--background-secondary);
}
:root .selected-1Q1-FL {
  background: var(--background-primary);
}
:root .sprite-M5kftA {
  filter: var(--colored-emoji) !important;
}
:root #emoji-picker-tab .contents-10scap,
:root #sticker-picker-tab .contents-10scap,
:root #bd-emotes-tab .contents-10scap {
  text-indent: 100%;
  overflow: hidden;
}
:root .navList-3xbTbZ > *:not(#gif-picker-tab).navButton-1GCO1t::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}
:root .navList-3xbTbZ #sticker-picker-tab.navButton-1GCO1t::after {
  background-image: url("https://i.imgur.com/S79punc.png");
}
:root .navList-3xbTbZ #emoji-picker-tab.navButton-1GCO1t::after {
  background-image: url("https://i.imgur.com/YOshExa.png");
}
:root .navList-3xbTbZ #bd-emotes-tab.navButton-1GCO1t::after {
  background-image: url("https://i.imgur.com/efz6JwF.png");
}
:root .navList-3xbTbZ .navButton-1GCO1t {
  width: 40px;
  padding: 8px;
}
:root .navButtonActive-3WWFCX,
:root .emojiItem-2Ws_pM.emojiItemSelected-3j7L3N {
  background-color: rgba(110, 133, 211, 0.1294117647);
}
:root .imageLoading-2hLDA4 {
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}
:root .contentWrapper-3DRvYY {
  grid-row-gap: 20px;
  padding-top: 8px;
}
:root .grid-3vS2t0 > div {
  border-radius: 8px;
  background: var(--background-primary);
}
:root .item-3Hkn4i {
  position: relative;
  min-width: 220px;
  padding: 10px;
  background-color: var(--background-primary);
  border-radius: 8px;
}
:root .tile-1pJCFM {
  border-radius: 8px;
}
:root .tile-1pJCFM .tileContent-1VXJNV {
  color: var(--text-normal);
}
:root .footer-1fjuF6,
:root .panels-j1Uci_ > .container-3gHLOP > .avatarWrapper-3aCVRY > .avatar-1BDn8e:hover + .nameTag-3_6kBQ {
  display: none;
}
:root .footer-1fjuF6 .buttons-3JBrkn .lookFilled-yCfaCM.colorRed-1TFJan {
  background-color: var(--button-danger-background);
}
:root .listRow-2hdb3q {
  color: var(--channels-default);
}
:root .panels-j1Uci_ > .container-3gHLOP {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
}
