@import url("https://nyri4.github.io/donators/donators.css");

:root .spamBanner_b5e5bf {
  position: relative;
  flex-direction: column;
  left: 56px;
  bottom: 8px;
  width: 330px;
  height: fit-content;
  row-gap: 30px;
}

:root .spamBanner_b5e5bf .bannerTextContainer__220b6 {
  min-width: 0;
}

:root .spamBanner_b5e5bf .actionButtons__459a9 {
  justify-content: space-around;
}

:root .messagesErrorBar__82c21 {
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

:root .messagesErrorBar__82c21:active {
  margin-bottom: 14px;
}

:root .newMessagesBar__8b272 {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}

:root .message_ccca67.mentioned_fa6fd2 {
  background-color: var(--mention-color-background);
}

:root .message_ccca67.mentioned_fa6fd2::before {
  background: var(--mention-color-bar);
  padding: 1px;
}

:root .message_ccca67.mentioned_fa6fd2:hover {
  background-color: var(--mention-color-hover) !important;
}

:root .wrapper_f5f4c9:not([style]) {
  position: relative;
  color: var(--brand-experiment);
  background: transparent;
}

:root .wrapper_f5f4c9:not([style])::after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brand-experiment);
  border-radius: inherit;
}

/* Ensure avatar and server icons remain circular */
:root .avatar-1BDn8e, :root .icon-1XcV8h {
  border-radius: 50%;
  overflow: hidden;
}
