@import url("https://nyri4.github.io/donators/donators.css");

:root .buttons__36852 {
  transition: opacity 150ms;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e {
  width: 40px !important;
  height: 40px !important;
  border-radius: 0 !important; /* Ensure icons remain square */
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e > svg {
  contain: unset;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e foreignObject {
  width: 100% !important;
  height: 100% !important;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e .pointerEvents__2zdf6A {
  x: 31px;
  y: 31px;
  ry: var(--status-radius);
  width: 12px;
  height: 12px;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e:hover {
  opacity: 1;
}

:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e + .nameTag__3_6kBQ {
  display: none;
}

:root .content__1YXu4Y > :nth-child(2):not(.chatContent__3KubbW),
:root .callContainer__2uMFsB,
:root .gatedContent__2gK96U,
:root .chatContent__3KubbW > .content__yTz4x3 > .pageContainer__1PoeTE,
:root .forumOrHome__6N1uP9 + .content__yTz4x3 > .container__3mdDkM,
:root .container__1VVsyy,
:root .background__2S4vFZ,
:root .page__3kDaO8 {
  z-index: 2;
}

:root .chatContent__3KubbW .form__2fGMdU {
  padding-left: 66px;
}

:root .chatContent__3KubbW .form__2fGMdU .wrapper__3tPqqe {
  z-index: unset;
}

:root .chatContent__3KubbW .form__2fGMdU .channelTextArea__rNsIhG .scrollableContainer__15eg7h::after,
:root .chatContent__3KubbW .form__2fGMdU .wrapper__3tPqqe::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-color: var(--background-secondary);
  border-radius: calc(var(--avatar-radius) + 2px);
}

:root .typing__3wjtWA {
  left: 66px;
  right: 26px;
}

:root .lookFilled__yCfaCM.colorPrimary__2AuQVo,
:root .lookFilled__yCfaCM.colorPrimary__2AuQVo:hover {
  background-color: var(--brand-experiment);
}

:root .container__2OmDho {
  margin-left: 14px;
  margin-bottom: 16px;
  border-radius: 8px;
}

:root .spamBanner__2qW2mJ {
  position: relative;
  flex-direction: column;
  left: 56px;
  bottom: 8px;
  width: 330px;
  height: fit-content;
  row-gap: 30px;
}

:root .spamBanner__2qW2mJ .bannerTextContainer__3HCpXP {
  min-width: 0;
}

:root .spamBanner__2qW2mJ .actionButtons__1UJ2C7 {
  justify-content: space-around;
}

:root .messagesErrorBar__3iqL9J {
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

:root .messagesErrorBar__3iqL9J:active {
  margin-bottom: 14px;
}

:root .newMessagesBar__1d0l8I {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}

:root .message__2qnXI6.mentioned__1t1uPl {
  background-color: var(--mention-color-background);
}

:root .message__2qnXI6.mentioned__1t1uPl::before {
  background: var(--mention-color-bar);
  padding: 1px;
}

:root .message__2qnXI6.mentioned__1t1uPl:hover {
  background-color: var(--mention-color-hover) !important;
}

:root .wrapper__3PENk9:not([style]) {
  position: relative;
  color: var(--brand-experiment);
  background: transparent;
}

:root .wrapper__3PENk9:not([style])::after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brand-experiment);
  border-radius: inherit;
}

:root .jumpToPresentBar__1t7sMx,
:root .jumpToPresentBar__1t7sMx:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}

:root .autocompleteRow__25ZkVs {
  padding: 0;
}

:root .autocompleteRow__25ZkVs .base__2jDaOf {
  border-radius: 0;
}

:root .autocompleteRow__25ZkVs:first-of-type,
:root .autocompleteRow__25ZkVs .option__3XHWIj {
  background-color: var(--background-tertiary);
}

:root .autocomplete__2CV1MA {
  background: var(--background-secondary-alt);
}

:root .categoryHeader__8NS2hp,
:root .autocomplete__2CV1MA {
  background: var(--background-secondary);
}

:root .selected__1Q1-FL {
  background: var(--background-primary);
}

:root .sprite__M5kftA {
  filter: var(--colored-emoji) !important;
}

:root #emoji-picker-tab .contents__10scap,
:root #sticker-picker-tab .contents__10scap,
:root #bd-emotes-tab .contents__10scap {
  text-indent: 100%;
  overflow: hidden;
}

:root .navList__3xbTbZ > *:not(#gif-picker-tab).navButton__1GCO1t::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
}

:root .navList__3xbTbZ #sticker-picker-tab.navButton__1GCO1t::after {
  background-image: url("https://i.imgur.com/S79punc.png");
}

:root .navList__3xbTbZ #emoji-picker-tab.navButton__1GCO1t::after {
  background-image: url("https://i.imgur.com/YOshExa.png");
}

:root .navList__3xbTbZ #bd-emotes-tab.navButton__1GCO1t::after {
  background-image: url("https://i.imgur.com/efz6JwF.png");
}

:root .navList__3xbTbZ .navButton__1GCO1t {
  width: 40px;
  padding: 8px;
}

:root .navButtonActive__3WWFCX,
:root .emojiItem__2Ws_pM.emojiItemSelected__3j7L3N {
  background-color: rgba(110, 133, 211, 0.1294117647);
}

:root .imageLoading__2hLDA4 {
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}

:root .contentWrapper__3e6IaG {
  padding: 15px;
}

:root .container__2FB5Xh {
  padding: 10px 5px;
}

:root .icon__2x-Ji6 {
  padding: 5px 10px;
}

:root .item__nOxNCE {
  border-radius: 8px;
}

:root .avatar__2OiH__ .container__2jHpO_ {
  border-radius: 8px;
}

:root .avatar__2OiH__ .container__2jHpO_ > .avatar__1Q1f5Z,
:root .avatar__2OiH__ .container__2jHpO_ > .container__3iGaxp > .avatar__1Q1f5Z {
  border-radius: 8px;
}

:root .avatar__2OiH__ .container__2jHpO_ > .avatar__1Q1f5Z > svg {
  border-radius: 8px;
}

:root .footer__1fjuF6 {
  display: none;
}

:root .footer__1fjuF6 .buttons__3JBrkn .lookFilled__yCfaCM.colorRed__1TFJan {
  background-color: var(--button-danger-background);
}

:root .listRow__2hdb3q {
  color: var(--channels-default);
}

:root .message__1qID0P .footer__1fjuF6,
:root .panels__27Ioc8 > .container__3gHLOP > .avatarWrapper__3aCVRY > .avatar__1BDn8e:hover + .nameTag__3_6kBQ {
  display: none;
}

:root .item__3Hkn4i {
  position: relative;
  min-width: 220px;
  padding: 10px;
  background-color: var(--background-primary);
  border-radius: 8px;
}

:root .tile__1pJCFM {
  border-radius: 8px;
}

:root .tile__1pJCFM .tileContent__1VXJNV {
  color: var(--text-normal);
}
